<div id="header">
  <div id="cover">
    <%= link_to_group image_tag("book_cover_small.jpg") %>
  </div>
  <div class="text">
    <h1>Ne kadar Arızasın?</h1>
    <h4>Arıza olmak; az seçilen yoldan gitmektir. Ezberi bozuk yaşamaktır. Normallerin 'off-side' çizgisini kayıtsızca ihlal etmektir. İşte arıza rezervlerini keşfedebileceğin bir test! Bakalım ne kadar arızasın?</h4>
  </div>
  <%= clear %>
</div>


<div id="content">

  <%= error_message_on :test_result, :answers %>

  <% form_for @test_result do |f| -%>
  <ol class="questions">
    <% @questions.each do |question| -%>
      <li class="question <%= 'error' if @test_result.errors[:answers] && !@test_result.has_answer_for_question?(question) %>">
        <%= question.text %>
        <ol class="answers">
          <% question.answers.sort_by { rand }.each do |answer| -%>
          <li>
            <%= radio_button_tag "answers[#{question.id}]", answer.id, @test_result.answer_ids.include?(answer.id) %>
            <%= label_tag "answers_#{question.id}_#{answer.id}", answer.text %>
          </li>
          <% end -%>

        </ol>
      </li>
    <% end -%>
  </ol>
  <%= f.submit "Sonucumu göster" %>
  <% end -%>
</div>
