<div id="content">
  <h1><%= @test_result.title %></h1>
  <div>
    <%= @test_result.text %>
  </div>
</div>

<div id="footer">
  <div id="cover">
    <%= link_to_group image_tag("book_cover_small.jpg") %>
  </div>
  <div class="text">
    <div>
      Bu test Sinem Ersever'in 'ARIZA' adlı kitabından alınmıştır. Kitapla ilgili daha fazla bilgi için veya Facebook'ta aramıza katılmak için <%= link_to_group "burayı tıkla..." %>
    </div>
    <br />
    <div>
      Bu testi arkadaşlarınla paylaşmak için <%= link_to "burayı tıkla...", new_invitation_path %>
    </div>
  </div>
</div>
